@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primevue/resources/themes/saga-blue/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';


html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
